[submodule "blowfish"]
	path = blowfish
	url = https://github.com/nunocoracao/blowfish.git
[submodule "hugo-theme-meme"]
	path = hugo-theme-meme
	url = https://github.com/reuixiy/hugo-theme-meme.git
[submodule "hugo-paper"]
	path = hugo-paper
	url = https://github.com/waterlili1883/hugo-paper.git
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
